<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>

<script>

$(function () {

    // Port count (limit 20)
    var chart1 = c3.generate({
        bindto: '#chart1',
        data: {
            columns: [
                {{ port_count | safe }}
            ],
            type : 'donut',
        },
        donut: {
            label: {
                format: function (value, ratio, id) {
                    return d3.format('')(value);
                }
            },
            title: "20 most used ports"
        },
        tooltip: {
          format: {
            value: function (value, ratio, id, index) { return value + ' - ' + d3.format('%')(ratio)}
          }
        }
    });

    // Port count (limit 20) ACCEPTED
    var chart1_accept = c3.generate({
        bindto: '#chart1_accept',
        data: {
            columns: [
                {{ port_count_accept | safe }}
            ],
            type : 'donut',
        },
        donut: {
            label: {
                format: function (value, ratio, id) {
                    return d3.format('')(id);
                }
            },
            title: "Accepted"
        },
        legend: {
            position: 'right'
        },
        tooltip: {
          format: {
            value: function (value, ratio, id, index) { return value + ' - ' + d3.format('%')(ratio)}
          }
        }
    });

    // Port count (limit 20) DROP
    var chart1_drop = c3.generate({
        bindto: '#chart1_drop',
        data: {
            columns: [
                {{ port_count_drop | safe }}
            ],
            type : 'donut',
        },
        donut: {
            label: {
                format: function (value, ratio, id) {
                    return d3.format('')(id);
                }
            },
            title: "Droped"
        },
        legend: {
            position: 'right'
        },
        tooltip: {
          format: {
            value: function (value, ratio, id, index) { return value + ' - ' + d3.format('%')(ratio)}
          }
        }
    });


    // Date count
    var chart2 = c3.generate({
        bindto: '#chart2',
        data: {
            x: 'x',
            xFormat: '%Y-%m-%d %H:%M:%S',
            columns: [
                {{ date_count | safe}}
            ],
            type: 'area-spline',
        },
        point: {
            show: false
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    fit: false,
                    format: '%m/%d - %H:%M'
                }
            }
        },
        zoom: {
            enabled: true,
  extent: [1, 100] // enable more zooming
}
    });


    // Status count
    var chart3 = c3.generate({
        bindto: '#chart3',
        data: {
            columns: [
                {{ status_count | safe }}
            ],
            type : 'donut',
        },
        donut: {
            label: {
                format: function (value, ratio, id) {
                    return d3.format('')(value);
                }
            },
            title: "Accepted/Droped conn."
        },
        tooltip: {
          format: {
            value: function (value, ratio, id, index) { return value + ' - ' + d3.format('%')(ratio)}
          }
        }
    });



    // Date count
    var chart4 = c3.generate({
        bindto: '#chart4',
        data: {
            x: 'x',
            xFormat: '%Y-%m-%d %H:%M:%S',
            columns: [
                {{ date_count2 | safe}}
            ],
            type: 'area-spline',
        },
        point: {
            show: false
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    fit: false,
                    format: '%H:%M'
                }
            }
        }
    });


});




// MAP
var map, heatmap;

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 2,
    center: {lat: 0, lng: 0},
    mapTypeId: 'satellite'
  });

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: getPoints(),
    map: map
  });
}

function getPoints() {
  return [
    {{ heatmap_data | safe }}
  ];
}


</script>

<style>
#map {
  height: 500px;
  max-width: 100%;
}

.table td, .table th {
    padding: .4rem;
    font-size: 12px;
}

h1, h3 {
    text-align: center;
}
   
</style>


<h1 class="display-4">ASUS RTN66u log</h1>

<br><hr><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h3>ACCEPT conn/port (20)</h3>
            <div id="chart1_accept"></div>
        </div>
        <div class="col-xs-6">
            <h3>DROP conn/port (20)</h3>
            <div id="chart1_drop"></div>
        </div>
    </div>
</div>

<br><hr><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <h3>Connections/7d</h3>
            <div id="chart2"></div>
        </div>
        <div class="col-sm-2">
            <h3>Conn/count</h3>
            <div>{{ count_conn_time | safe }}</div>
        </div>
    </div>
</div>

<br><hr><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3>Geomap/connections</h3>
            <div id="map"></div>
        </div>
    </div>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div id="chart1"></div>
        </div>
        <div class="col-sm-6">
            <div id="chart3"></div>
        </div>
    </div>
</div>
-->

<br><hr><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h3>20 latest connections</h3>
            {{ conn_last | safe }}<br>
        </div>
        <div class="col-sm-6">
            <h3>DHCP data</h3>
            {{ dhcp_list | safe }}<br>
        </div>
    </div>
</div>

<hr><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h3>Connections/not accepted ports</h3>
            {{ accept_closed | safe }}<br>
        </div>
        <div class="col-sm-6">
            <h3>20 latest internal ip connections</h3>
            {{ internal_ip | safe }}<br>
        </div>
    </div>
</div>

<br><hr><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3>Connections/country</h3>
            {{ country_count | safe }}<br>
        </div>
    </div>
</div>




<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFgapTyicYti8Qxb7jizNtmry7SBxNgmg&libraries=visualization&callback=initMap"></script>

